#Header{
    margin-top: 1%;
}

/*#TeamLogoDIV{
    margin: 1%;
}*/

#TeamLogo{
    margin-top: 1%;
    margin-left: 1%;
    width: 13%;
    border-radius: 15%;
}

#Description{
    margin-top: 1%;
}

#Description h3{
    color: rgb(170, 170, 170);
}

#Content{
    margin-top: 1%;
    height: 150%;
}

#ContentPlayer{
    display: flex;
    justify-content: center;
}

#globeViz{
    margin-right: 2%;
}

.Background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

#Footer{
    margin-top: 1%;
}

#TeamInfo{
    color: white;
}
#Footer p{
    margin: 2%;
    display: flex;
    justify-content: center;
}

