#Header{
    margin-top: 1%;
}

#TeamLogo{
    margin-top: 1%;
    margin-left: 1%;
    width: 13%;
    border-radius: 15%;
}

#Content{
    margin-top: 1%;
    height: 150%;
}

#ContentPlayer{
    display: flex;
    justify-content: center;
}

#globeViz{
    margin-right: 2%;
}

.Background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}